.followerslistContainer {
    background-color: white;
    margin-top: 2rem;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
    height: 40vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.followerItem {
    display: flex;
    padding: 1rem 0;
    border-bottom: .05rem solid rgba(0, 0, 0, 0.082);
    padding: 1rem 0;
}
.followersDetails {
    margin-left: 1.25rem;
}

.followerItemName {
    display: flex;
}

.followerItemName h4 {
    margin-right: 0.5rem;
}

.followerItem img {
    border-radius: 50%;
    width: 4rem
}
.todoFooter {
    display: flex;
    justify-content: space-between;
}